* {
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    background-color: blue;
}

.memory-game {
    width: 1000px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.memory-card:active {
    transform: scale(.97);
    transition: tranform .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face, .back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 2px;
    background: #1c7ccc;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}

.moves {
    float: right;
    margin-left: auto;
    margin-right: 0;
}

/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 3px solid #888;
    width: 50%;
    /* Could be more or less, depending on screen size */
    height: 40%;
    text-align: center;
    font-size: larger;
}

/* The Replay Button */

.replay {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}

.replay:hover, .replay:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.checked {
    color: orange;
}
